*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  /* background:rgb(133 135 156); */
  /* margin-top: 5rem; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color:#f7ecea

}

/* h1, h2, h3, h4, h5, h6 {
  color: #444444;
} */

/* .bg-steel {
  background-color: #5f788a;
} */

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

/* .content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
} */

.article-title {
  color: #444444;
}

/* a.article-title:hover {
  color: #428bca;
  text-decoration: none;
} */

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.content-section{
    width: 40%;
    height: 70%;
}

nav{
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
    background-color:#f7ecea!important;


   
}

nav a{
    font-size: 14px !important;
    color: #8a8798 !important;

}

nav .end{
    margin-right: 20px;
}

.loginform{
  height: 75vh;
  width: 80%;
  position: relative;
  left:10%;
  margin-top: 60px;
  display: flex;

}

.left{
  width: 30%;
  height: 100%;
  background: #545871;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.left .logoContainer{
  
  position: relative;
  top: 5%;
  display: flex;
  justify-content: center;
}
.logo{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color:#f7ecea;
  position: absolute;
  left:25%
}
.logoContainer p{
  color: white;
  top: 60%;
  font-family: cursive;
  font-size: 23px;
  margin-left: 25px;
  margin-top: 5px;
}
form{
  width: 70%;
  background-color: #f7ecea;
  background-color: rgba(0, 0,0,);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  backdrop-filter: blur(4px);
  
}

.left img{
  height: 100%;
  width: 100%;
  position: relative;
}


.form-control{
  height: 40px;
  width: 90%;
  margin-left: 20px;
}



.form-control-label{
  margin-left: 20px;

}

.remember{
  margin-left: 20px;
  color: #8a8798;
}

.btn{
  margin: 20px;
  border: 1px solid #545871;
  color: #8a8798;
}

.red{
  margin: 20px;
  font-size: 13px;
  color: #8a8798;
  
}

legend{
  color: #8a8798;
  font-weight: 400;
}

.form-group{
  color: #8a8798;
  font-weight: 400;
}

.post{
  position: relative;
  width: 60%;
  margin: 10px;
  position: relative;
  left: 10%;
  background-color: white;

}
.index{
  background-color: #f7ecea;
  height: 100%;
  width: 100%;
  border: 2px solid green;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;

}
.top{
  display: flex;
  position: relative;
  margin-top: 10px;
}
 .top p{
   margin-left: 9px;
   font-weight: 600;
   margin-top: 10px;
 }

 .bottom{
   position: relative;
   left: 10%;

 }

 .title{
   font-weight: 800;
   position: absolute;
   left:9%;
   font-size: 10px;
   color: blue
 }

 .edit{
   border: 1px solid silver;
   width: 200px;
   text-align: center;
   position: relative;
   left:12%;
   top: 5%;
   border-radius: 25px;
   padding: 3px;
 }

 .edit a{
  color: black

 }

 .editform{
   width: 50%;
   display: flex;
   justify-content: center;
   flex-direction: column;
   
 }

 .thumb{
   display: flex;
   justify-content: center;
 }
 .thumb i{
   margin-left: 20px;
 }
 
h3{
  position: relative;
  left: 17%;

}
 .right{
   position: absolute;
   right: 5%;
   width: 25%;
   top: 14%;
   border: 1px solid white;
   background-color: white;

 }

 
 .innerRight{
   border-top: 1px solid silver;
   height: 20%;
   display: flex;
   position: relative;
 }

 .innerRight img{
   height: 80px;

 }

 .innerword{
   position: relative;
   left: 8%;
 }

 .innerword p{
   position: relative;
   top: 30%;
   font-weight: 900;
 }
 .add{
   position: absolute;
   top: 40%;
   right:5%;
   background-color: lightblue;
   border-radius: 50%;
   height: 20px;
   width: 20px;
   text-align: center;
   
 }

 .add p{
   font-weight: 900;
 }

 .right1 h5{
   font-weight: 900;
   text-align: center;
   font-size: 18px}