
{%extends 'base.html'%}
<div class="index">


{%block content%}


    <h3>Hi, {{ current_user.username }}!</h3>

    {% for post in posts%}
            <div class='post'>
                <small class="title">Follow topic on {{post.title}}</small>
        
                <div class="top">
                    <img class="rounded-circle z-depth-2" alt="100x100" src="{{ post.author.avatar(46) }}"data-holder-rendered="true">
                    <p>@{{post.author.username}}</p>
        
                </div>
                <div class="bottom">
                   
                <p>{{post.body}}</p>
                </div>
                
            </div>
       
    {%endfor%}

    {%endblock content%}


    
</div>
   