{% extends "base.html" %}

{% block content %}
    <table>
        <tr valign="top">
            <td><img class="rounded-circle z-depth-2" alt="100x100" src="{{ user.avatar(128) }}"data-holder-rendered="true"></td>

            <td><h1>User: {{ user.username }}</h1>
                {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
                {% if user.last_seen %}<p>Last seen on: {{ user.last_seen }}</p>{% endif %}
            </td>
            
        </tr>
    </table>
    {% if user == current_user %}
                <p class="edit"><a href="{{ url_for('edit_profile') }}">Edit your profile</a></p>
                {% endif %}
    <hr>
    {% for post in posts %}
    <table>
        <tr valign="top">
            

            <div class='post'>
                <small class="title">Follow topic on {{post.title}}</small>
        
                <div class="top">
                    <img class="rounded-circle z-depth-2" alt="100x100" src="{{ post.author.avatar(46) }}"data-holder-rendered="true">
                    <p>@{{post.author.username}}</p>
        
                </div>
                <div class="bottom">
                   
                <p>{{post.body}}</p>
                </div>
                
            </div>
        </tr>
    </table>
    
    {% endfor %}
{% endblock %}
